<!-- Container #1 (see wireframe) -->
<md-content ng-cloak>
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <h3 class="md-navbar-title" style="margin:10px 5px;">SJI Batch '98</h3>
    <md-nav-item md-nav-click="goto('members')" name="members">Members</md-nav-item>
    <md-nav-item md-nav-click="goto('logout')" name="logout">Logout</md-nav-item>
  </md-nav-bar>
</md-content>

<form ng-submit="submit()">
  <md-content class="md-padding">
    <div flex="100">
      <h3>Add Members</h3>
    </div>
  </md-content>
  <md-card ng-switch="errorStatus" ng-show="errorStatus!=null">
    <md-content class="md-padding">
      <div flex="100" ng-switch-when="error">The user could not be saved.</div>
      <div flex="100" ng-switch-when="success">Successfully saved user!</div>
    </md-content>
  </md-card>
  <md-content class="md-padding" layout-md="row" layout="row" style="padding:0 10px 0 10px;">
    <div flex="33">
      <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="user.name">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="user.email">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Birthday</label>
        <md-datepicker ng-model="user.birthdate" md-placeholder="Birthdate"></md-datepicker>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">Save Member</md-button>
      <md-button class="md-raised md-default" ng-href="/members">Cancel</md-button>
    </div>
    <div flex="10">&nbsp;</div>
    <div flex="30">
      <md-input-container class="md-block">
        <label>Balance</label>
        <input ng-model="user.balance">
      </md-input-container>
    </div>
  </md-content>
</form>

