<!-- Container #1 (see wireframe) -->
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-truncate><h1>SJI Batch '98</h1></md-truncate>
    <!--<md-button>Members</md-button>-->
    <span flex></span>
    <md-button class="md-raised">Logout</md-button>
  </div>
</md-toolbar>

<form ng-submit="submit()">
  <md-content layout-padding>
    <div flex="100">
      <h3>Add Members</h3>
    </div>
  </md-content>
  <md-card ng-switch="errorStatus" ng-show="errorStatus!=null">
    <md-content layout-padding>
      <div flex="100" ng-switch-when="error">The user could not be saved.</div>
      <div flex="100" ng-switch-when="success">Successfully saved user!</div>
    </md-content>
  </md-card>
  <md-content layout-padding layout-md="row" layout="row">
    <div flex="33">
      <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="user.name">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="user.email">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Birthday</label>
        <md-datepicker ng-model="user.birthdate" md-placeholder="Birthdate"></md-datepicker>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">Save Member</md-button>
      <md-button class="md-raised md-default" ng-href="/members">Cancel</md-button>
    </div>
    <div flex="10">&nbsp;</div>
    <div flex="30">
      <md-input-container class="md-block">
        <label>Balance</label>
        <input ng-model="user.balance">
      </md-input-container>
    </div>
  </md-content>
</form>

