<!-- Container #1 (see wireframe) -->
<md-content ng-cloak>
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <h3 class="md-navbar-title" style="margin:10px 5px;">SJI Batch '98</h3>
    <md-nav-item md-nav-click="goto('members')" name="members">Members</md-nav-item>
    <md-nav-item md-nav-click="goto('logout')" name="logout">Logout</md-nav-item>
  </md-nav-bar>
</md-content>

<md-content style="padding:0 10px 0 10px;">
    <section>
        <md-button class="md-raised md-primary" style="margin:10px 0;">Add Member</md-button>
    </section>
    <section layout="row" layout-md="column" layout-align="left center" layout-wrap>
      <md-input-container flex="25">
        <label>Member Search</label>
        <input required type="text" name="memberSearch" ng-model="member.search" maxlength="100" />
      </md-input-container>
    </section>
    <table id="members-table" class="table table-hover table-bordered table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Birthday</th>
          <th>Payment Due</th>
          <th>Paid Amount</th>
          <th>Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="7">There are no members.</td>
        </tr>
      </tbody>
    </table>
</md-content>

